<h2 mat-dialog-title>Add Label</h2>

<mat-dialog-content>
  <div class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Label Name</mat-label>
      <input matInput [(ngModel)]="label.name" placeholder="Enter label name">
    </mat-form-field>

    <div class="color-picker">
      <h4>Select Color</h4>
      <div class="color-grid">
        <button
          *ngFor="let color of predefinedColors"
          class="color-option"
          [class.selected]="color === label.color"
          [style.background-color]="color"
          (click)="selectColor(color)">
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!label.name.trim()">
    Add Label
  </button>
</mat-dialog-actions> 