<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Nhập liệu Vận chuyển</h4>
        <p class="card-category">Điền vào biểu mẫu bên dưới để ghi lại thông tin vận chuyển.</p>
      </div>
      <div class="card-body">
        <div class="iframe-container" style="height: 80vh;">
          <iframe [src]="logFormUrl" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
        </div>
      </div>
    </div>
  </div>
</div> 