<div class="main-content">
    <div class="container-fluid">
        <div class="search-controls">
            <mat-form-field class="item-search-field">
                <input matInput #searchInput 
                        placeholder="{{ dataLoaded ? 'Enter item' : 'Loading...' }}" 
                        (keyup.enter)="findShelf(searchInput.value)" 
                        (input)="searchInput.value = searchInput.value.toUpperCase()"
                        [disabled]="!dataLoaded">
            </mat-form-field>
            <button mat-raised-button class="btn btn-info find-button" 
                    (click)="findShelf(searchInput.value)" 
                    [disabled]="!dataLoaded">Find</button>
        </div>
        <div class="search-message" *ngIf="searchMessage">
            <p [innerHTML]="searchMessage"></p>
        </div>
        <div #rendererContainer class="renderer-container"></div>
    </div>
</div> 